<!--<div class="container">-->
<!--  <div class="row d-flex justify-content-center">-->
<!--    <div class="col-m-12 justify-content-center" style="margin: 5px;" *ngIf="question">-->
<!--      {{question}}-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row align-items-center">-->
<!--    <div class="col-m-4"></div>-->
<!--    <div class="col-m-4 text-center" style="margin: 15px;">-->
<!--      <button mat-button style="color: white; background-color: red;margin: 5px;" (click)="answer(true)">Yes</button>-->
<!--      <button mat-button style="color: white; background-color: green;margin: 5px;" (click)="answer(false)">No</button>-->
<!--    </div>-->
<!--    <div class="col-m-4"></div>-->
<!--  </div>-->
<!--</div>-->


<div mat-dialog-content>
  <p mat-dialog-actions class="mat-dialog-actions">{{question}}</p>
  <div mat-dialog-actions class="mat-dialog-actions">
    <button mat-button style="color: white; background-color: red; margin: 5px;" (click)="answer(true)">Yes</button>
    <button mat-button style="color: white; background-color: green; margin: 5px;" (click)="answer(false)">No</button>
  </div>
</div>
